.bck-gray {
    height: 100px;
    background-color: #333333;
}

footer {
    padding: 20px;
    font-family: 'UnifrakturCook', cursive;
    font-size: 54px;
    text-align: center;
}

.footer_copyright {
    font-size: 18px;
}