.main-container {
    width: 100vw;
    min-height: 1500px;
    margin: auto
    // background-color: rgb(180, 163, 143);
    
}

.paper {
    width: 80vw;
    min-height: 1500px;
    background-image: url('../../assets/img/old_paper.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 20px 30px;
    font-family: 'Courier Prime', monospace;
}

.parallax {
    /* The image used */
    background-image: url('../../assets/img/war.jpg');
    /* Set a specific height */
    min-height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}