.wrapper {
    width: 100vw;
    height: 140vh;
    background-image: url('../../../assets/img/cennik-bck.png');
    background-size: cover;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    color: #000;
}

.text-wrapper {
    position: relative;
    width: 40%;
    height: 50%;
    top: 25%;
    margin: auto;
    transform: rotate(-10deg);
    line-height: 1.1rem;
    font-family: 'Courier One', cursive;
    opacity:0.7
}

.text {
        color: #000;
        font-size: 44px;
        text-align: center;
        padding: 20px;
        font-family: 'UnifrakturCook', cursive;
}

.bigger {
    font-weight: bold;
    font-size: 18px;
}