.main-box {
    height: 700px;
    color: #fff;
    font-size: 34px;
    text-align: center;
    background-image: url('../../../assets/img/wall-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
}