.cennik-wrapper{
    background-color: #000;
    background-attachment: fixed;
    height: 600px;
}
.cennik-title {
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 20px 0 0 0;
    font-family: 'UnifrakturCook', cursive;
    font-size: 54px;
}