.main-wrapper2 {
    height: 600px;
    color: #fff;
    background-color: #000;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-family: 'Germania One', cursive;
}

.contact-wrapper {
    display: flex;
    justify-content: space-around;
}